<div class="row">

    <div class="col-sm-12">

        <a [routerLink]="['/pages/product']" style="font-size: 12px; color:
            #777;" class="m-b-20">

            << Go back </a> <br><br><br>

                <h4 class="header-title m-t-0 m-b-20">

                    Create New Batch of {{productObjct.product_name}}
                </h4>
    </div>
</div>
<div class="row">
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card-body>
            <form class="form-horizontal" role="form" [formGroup]="subProductForm" (ngSubmit)="onSubmit()">

                <div class="form-group">

                    <label class="col-md-4 col-form-label">Batch Name:</label>
                    <div class="col-md-12">

                        <input type="text" formControlName="product_name" nbInput fullWidth placeholder="Type here...">
                    </div>

                </div> <br>

                <div class="form-group">

                    <label class="col-md-4 col-form-label">Production Date:</label>
                    <div class="col-md-12">

                        <input type="date" formControlName="production_date" nbInput fullWidth placeholder="Select...">
                    </div>

                </div> <br>

                <div class="form-group">

                    <label class="col-md-4 col-form-label">Expiration Date:</label>
                    <div class="col-md-12">

                        <input type="date" formControlName="expiry_date" nbInput fullWidth placeholder="Select...">
                    </div>
                </div> <br>
                <div class="form-group">
                    <label class="col-md-12 col-form-label">
                        Please select the survey you want to attach to this Product.
                    </label>
                    <div class="col-md-12">
                        <select class="custom-select mt-3" formControlName="survey_id">
                            <option *ngFor="let survey of save_survey" value="{{survey.id}}">{{survey.title}}</option>
                        </select>
                    </div>
                </div> <br>
                <div class="form-group">
                    <label class="col-md-12 col-form-label">
                        Please select the reward type to attach to this Product.</label>
                    <div class="col-md-12">

                        <select class="custom-select mt-3" (change)="onChange($event)">
                            <option selected="loyalty">Loyalty Point</option>
                            <option selected="others">Airtime/Merchandize</option>
                        </select>
                    </div>
                </div><br>
                <div class="form-group" [hidden]="loyalty">
                    <label class="col-md-12 col-form-label">
                        Please select the loyalty point you want to attach to this Product.</label>
                    <div class="col-md-12">
                        <select class="custom-select mt-3" formControlName="reward_id">
                            <option *ngFor="let reward of loyalty_points"
                                value="{{reward.id}}">{{reward.loyalty_name}}
                                ({{reward?.loyalty_reward}} -
                                {{reward?.loyalty_reward_value}})</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" [hidden]="others">
                    <label class="col-md-12 col-form-label">
                        Please select the rewards you want to attach to this Product.</label>
                    <div class="col-md-12">
                        <select class="custom-select mt-3" formControlName="reward_id">
                            <option *ngFor="let reward of save_surveyReward" value="{{reward.id}}">{{reward.reward_type}}
                                {{reward.reward_value}}</option>
                        </select>
                    </div>
                </div>
                <br><br>
                <button [disabled]="loading || subProductForm.invalid" class="btn btn-custom btn-rounded" type="submit">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                     Save and Generate Code For This Batch
                    </button>
            </form>
        </nb-card-body>
    </nb-card>
</div>

