@import "../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@include nb-install-component() {
    .solar-card nb-card-header {
        border: none;
        padding-bottom: 0;
    }
    @include media-breakpoint-down(sm) {
        ngx-traffic {
            display: none;
        }
    }
}

.solar-card {
    height: 16rem !important;
}

.table_color {
    color: #6e7382;
}

.col_color {
    color: #6e7382;
}

#map{
    width:100%;
    height:600px;
    margin-top: 20px;
}

.card-col .signup {
    height: 250px;
    width: 400px;
    padding-right: 100px;
    align-items: center;
    align-self: center;
    padding-bottom: 100px;
}

.card .map {
    padding-top: 100px;
}

.carousel img {
    height: 400px;
    width: 990px;
}

.carousel .carousel-caption p {
    color: red;
}

 #nb-card {
    height: 350px;
    width: 500px;
    margin: 50px;
}

#nb-card p {
   padding: 130px;
}

.carousel ngb-carousel img {
    height: 470px;
    width: 500px;
}

h6 {
    font-size: small;
    color: black;
    font-weight: 100;
}

.menu-icon{
    background-color: #E5EFE7;
    color: #01D4C1;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    padding-top: 5%;
    margin-bottom: 20px;
    font-size: 0.9em;
    padding-bottom: 5%;
}

.menu-icon-2{
    background-color: #E5EFE7;
    color: #01D4C1;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    padding-top: 8%;
    margin-bottom: 20px;
    font-size: 0.8em;
    padding-bottom: 5%;
}

.solar-card{
    height: 13rem !important;
}

.text-bold-2{
    color: #000000 !important;
    font-size: 1.8em;
}

#nb-card h6{
    color: #4E505C !important;
    text-decoration: underline;
    font-size: 1.3em;
}