<nb-tabset>
    <nb-tab tabTitle="Overview" tabIcon="home-outline" responsive>
        <div class="row">
            <div class="col-sm-12">
                <h4 style="text-align: center;" class="header-title m-t-100 m-b-20">
                    Hello Immanuel, welcome to your Chekkit dashboard {{ callData?callData.voice_dial:'loading...' }} 
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3">
                <nb-card size="tiny" class="solar-card">
                    <nb-card-body>
                        <div class="widget-inline-box text-center">
                            <h3 class="m-t-10">
                                <i class="menu-icon mdi mdi-microphone"></i>
                            </h3>
                            <p class="text-bold quick-text">Voice Dial</p>
                            <p class="text-bold text-bold-2"> {{ callData?callData.voice_dail:'loading...' }} </p>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3">
                <nb-card size="tiny" class="solar-card">
                    <nb-card-body>
                        <div class="widget-inline-box text-center">
                            <h3 class="m-t-10">
                                <i class="menu-icon-2 far fa-thumbs-up"></i>
                            </h3>
                            <p class="text-bold quick-text">Sign Up</p>
                            <p class="text-bold text-bold-2">{{callData?callData.total_signup:'loading...'}}</p> 
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3">
                <nb-card size="tiny" class="solar-card">
                    <nb-card-body>
                        <div class="widget-inline-box text-center">
                            <h3 class="m-t-10">
                                <!-- <i class="text-custom mdi mdi-sms"></i> -->
                                <i class="menu-icon-2 fas fa-sms"></i>
                            </h3>
                                <p class="text-bold quick-text">Activation SMS</p>
                                <p class="text-bold text-bold-2">{{callData?callData.activation_sms:'loading...'}}</p> 
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-xxxl-3 col-xxl-3 col-lg-3 col-md-3">
                <nb-card size="tiny" class="solar-card">
                    <nb-card-body>
                        <div class="widget-inline-box text-center b-0">
                            <h3 class="m-t-10">
                                <i class="menu-icon mdi mdi-gift"></i>
                            </h3>   
                                <p class="text-bold quick-text">Reward SMS</p>
                                <p class="text-bold text-bold-2" style="color: black;"><strong>{{callData?callData.reward_sms:'loading...'}}</strong></p>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div><br><br>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card" *ngIf="scanStatistics">
                    <div class="card-body">
                        <h6 class="card-subtitle">Product scans per date</h6>
                            <!-- <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                                [legend]="lineChartLegend" [chartType]="lineChartType">
                            </canvas> -->
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>

    <nb-tab tabTitle="Signup Distribution" tabIcon="clipboard-outline" responsive>
        <div class="row">
            <div class="col-sm-12">
               
                <h4 class="header-title m-t-20 m-b-20">
                    Signup Distribution
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <nb-card id="nb-card">
                    <nb-card-body>
                        <h6>Age Range:</h6> 
                        <canvas baseChart *ngIf="ageDistribution" height="150px" [data]="ageDistribution.values" [labels]="ageDistribution.labels" chartType="doughnut" [colors]="[{backgroundColor: ['#a3a0fb', '#55d8fe', '#ff8373','#ffda83']}]"></canvas>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-6">
                <nb-card id="nb-card">
                    <nb-card-body>
                        <h6>Gender:</h6> 
                        <canvas baseChart *ngIf="genderDistribution" height="150px" [data]="genderDistribution.values" [labels]="genderDistribution.labels" chartType="pie" [colors]="[{backgroundColor: ['#ef5261', '#f6c863']}]"></canvas>
                    </nb-card-body>
                </nb-card>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-sm-12">
                <h4 class="header-title m-t-100 m-b-20">
                    Location Density Heat Map:
                </h4>
            </div>
        </div>
        <div class="row" [hidden]="!scanStatistics">
            <div class="col-12">
                <div class="card map">
                    <div class="card-body">
                        <h6 class="card-subtitle">Product scans heat map</h6>
                            <!-- <div #map style="width:100%;height:400px"></div> -->
                        <div id="map" #map ></div>
            
                    </div>
                </div>
            </div>
        </div>
    </nb-tab>
    <nb-tab tabTitle="Rewards & Winners" tabIcon="copy-outline" responsive>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="header-title m-t-100">
                        Rewards & Winners
                </h4>
                <a  class="pull-right header-title m-b-10">
                        <button (click)="openAddRewardModal()" type="button" class="btn btn-default">+ Add New Rewards</button>
                </a>
            </div>
        </div>
        <div class="card-row">
            <div class="row">
                <nb-card class="col-lg-12"> 
                    <nb-card-body> 
                        <div class="m-b-20">
                            <h6 class="m-t-0">List of Rewards</h6> 
                                <ngx-datatable #mydatatable1 class="material" [headerHeight]="50" [limit]="10" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows2">
                                    <ngx-datatable-column name="Image">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                            <span title="Double click to edit">
                                                <img [src]="row.reward_image" height="100px" *ngIf="row.reward_image" />

                                            </span>
                                            
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Reward Type">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                            <span title="Double click to edit">
                                                {{row.reward_type}}
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <!-- <ngx-datatable-column name="Reward Frequency">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                            <span>
                                                {{row.reward_frequency}}
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column> -->
                                    <ngx-datatable-column name="Reward Quantity">
                                        <ng-template ngx-datatable-cell-template let-row="row">
                                            {{row.reward_quantity}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable> 
                        </div>     
                    </nb-card-body>
                </nb-card>
            </div>
        </div><br><br>
        <div class="row">
            <nb-card class="col-lg-12"> 
                <nb-card-body> 
                    <div class="m-b-20">
                        <h6 class="m-t-0">List of Winners
                            <a  class="pull-right">
                                <button (click)="gotoPrintCode()" type="button" class="btn btn-default"> <i class="fas fa-file-export"></i> Click to Export Data</button>
                            </a>
                            <!-- <a  class="pull-right m-r-20 m-b-20">
                                <button (click)="gotoPrintCode(row)" type="button" class="btn btn-default"> <i class="fas fa-file-export"></i> Click to filter results</button>
                            </a> -->
                         </h6> 
                            <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="10" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
                                <ngx-datatable-column name="Date & Time">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                        <span title="Double click to edit">
                                            {{row.name}}
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Phone Number">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                        <span title="Double click to edit">
                                            {{row.phone}}
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Gift Type">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                        <span>
                                            {{row.gift_type}}
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Category">
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        {{row.category}}
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable> 
                    </div>     
                </nb-card-body>
            </nb-card>
        </div>
    </nb-tab>
</nb-tabset>

  



   