<div class="row">
    <div class="col-sm-12">

        <a [routerLink]="['/pages/rewards']" routerLinkActive="router-link-active" style="font-size: 12px; color: #777;" class="m-b-20">

            << Go back </a>
    </div>
    <div class="col-md-12 text-center">

        <img src="assets/theme/images/smartphone.svg" style="width: 8%; padding-bottom: 20px;">

        <h6 style="color: #23b195;">Airtime Reward</h6> <br>

    </div>
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card-body>
            <form class="form-horizontal" role="form" [formGroup]="surveyRewardForm" (ngSubmit)="onSubmit()">
                <div class="form-group">

                    <label class="col-md-12 col-form-label">Airtime({{rewrd_num}}) Naira Value</label>

                    <div class="col-md-12">

                        <input type="number" class="form-control" formControlName="reward_value" placeholder="e.g. 50,100">

                    </div>
                    <label class="col-md-12 col-form-label">Airtime(a) Units</label>

                    <div class="col-md-12">

                        <input type="number" class="form-control" formControlName="reward_quant" placeholder="e.g. 100, 200, 300">

                    </div>
                </div>

                <br>
                <p style="padding-bottom: 30px; text-decoration: underline; color: #e2ab3b;" (click)="addMoreReward()" *ngIf="surveyRewardForm.valid">
                    <i class="fa fa-plus"></i> add more Airtime Reward
                </p>
                <div class="text-center">

                    <button type="submit" class="btn btn-custom btn-rounded" [disabled]="loading ||  surveyRewardForm.invalid"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Update</button>
                </div>

            </form>

        </nb-card-body>
    </nb-card>
</div>