<div class="row">
    <div class="col-sm-12">

        <div class="wrapper-page">

            <div class="m-t-40 card-box">

                <div class="text-center">

                    <h2 class="text-uppercase m-t-0 m-b-30">

                        <a href="index.html" class="text-success">

                            <span><img src="assets/images/chekkitlogoo.png"
                                    alt="" height="30"></span>

                        </a>

                    </h2>
                    <h5 class="font-bold m-b-0">Hello, Welcome</h5>
                    <label style="color: red;" *ngIf="err_msg">{{err_msg}}</label>
                </div>

                <br>

                <div class="account-content">

                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-horizontal form-material" id="loginform">
                        <div class="form-group m-b-20">

                            <div class="col-12">

                                <label for="emailaddress">Your Username</label>
                                <input type="text" formControlName="username" class="form-control" [ngClass]="{
                                    'is-invalid': submitted && f.username.errors
                                    }" />
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">Username is required</div>
                                </div>

                            </div>

                        </div>

                        <div class="form-group m-b-20">

                            <div class="col-12">

                                <label for="emailaddress">What's Your Company
                                    Name?</label>

                                <input type="text" formControlName="company_rep" class="form-control" [ngClass]="{
                                    'is-invalid': submitted &&
                                    f.company_rep.errors }" />
                                <div *ngIf="submitted && f.company_rep.errors" class="invalid-feedback">
                                    <div *ngIf="f.company_rep.errors.required">Company Representing is required</div>
                                </div>

                            </div>

                        </div>

                        <div class="form-group m-b-20">

                            <div class="col-12">
                                <label for="emailaddress">Enter Your Email
                                    Address:</label>
                                <input type="email" formControlName="email" class="form-control" [ngClass]="{
                                    'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email Address is required</div>
                                </div>

                            </div>

                        </div>

                        <div class="form-group m-b-20">

                            <div class="col-12">

                                <label for="password">Enter Your Password:</label>
                                <input type="password" formControlName="password" class="form-control" [ngClass]="{
                                    'is-invalid': submitted && f.password.errors
                                    }" />
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                </div>

                            </div>

                        </div>

                        <div class="form-group m-b-30">

                            <div class="col-12">

                                <div class="checkbox checkbox-primary">

                                    <input id="checkbox5" type="checkbox">
                                    <label for="checkbox5">
                                        I accept <a href="#"
                                            style="color:#23b195;">Terms &
                                            Conditions</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group account-btn text-center m-t-10">
                            <div class="col-12">
                                <button [disabled]="loading ||
                                    registerForm.invalid" class="btn btn-lg
                                    btn-custom btn-block" type="submit">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Sign Up</button>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end card-box-->
            <div class="row m-t-50">
                <div class="col-sm-12 text-center" [routerLink]="['/pages/auth/login']">
                    <p class="text-muted">Don't have an account? <a class="text-dark m-l-5">Login</a></p>
                </div>
            </div>

        </div>
        <!-- end wrapper -->
    </div>
</div>