@import "../../@theme/styles/themes";
@include nb-install-component() {
    nb-tab {
        padding: 1.25rem;
    }
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    nb-card {
        margin-right: 0.3rem;
    }
    nb-user.size-large .user-picture {
        height: 5rem;
        width: 5rem;
    }
}

.img-thumbnail {
    width: 100%;
    height: 100%;
}

.btn{
    margin-right: 1.5%;
}