@import '../../../../@theme/styles/themes';
@include nb-install-component() {
    ngx-chartjs-pie,
    ngx-chartjs-bar,
    ngx-chartjs-line,
    ngx-chartjs-multiple-xaxis,
    ngx-chartjs-bar-horizontal,
    ngx-chartjs-radar {
        display: block;
        height: nb-theme(card-height-medium);
        width: 100%;
         ::ng-deep chart {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}