<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Survey Rewards</nb-card-header>
            <nb-card-body>
                <ngx-chartjs-pie></ngx-chartjs-pie>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Scan Histories</nb-card-header>
            <nb-card-body>
                <ngx-chartjs-bar></ngx-chartjs-bar>
            </nb-card-body>
        </nb-card>
    </div>
</div>