<div class="row">
    <div class="col-sm-12">
        <a [routerLink]="['/pages/rewards']" style="font-size: 12px;
            color: #777;" class="m-b-20">
            << Go back </a> <br><br><br>
                <h4 class="header-title m-t-0 m-b-20">
                    Edit Merchandize Reward
                </h4>
    </div>
</div>
<div class="row">

    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-2">

                <div class="thumb-xl member-thumb m-b-10 center-page">
                    <img *ngIf="merchantObjct.reward_image" src="{{merchantObjct.reward_image}}" class="rounded-circle img-thumbnail" alt="profile-image">
                    <br><br>

                    <p style="padding-bottom: 40px;"> Change Image</p>
                    <!-- <input type="file" name="pic" accept="image/*"> -->
                    <br><br>
                </div>
            </div>

            <div class="col-md-1"></div>

            <nb-card class="col-md-9 col-lg-9 col-xxxl-9">
                <nb-card-body>
                    <form class="form-horizontal" role="form" [formGroup]="surveyMerchantForm" (ngSubmit)="onSubmit()">

                        <div class="form-group">
                            <label class="col-md-4 col-form-label">Merchandise
                                Type:</label>
                            <div class="col-md-12">
                                <input type="text" nbInput fullWidth formControlName="reward_value" [ngClass]="{
                                    'is-invalid': submitted &&
                                    f.product_name?.errors}" required="true">
                            </div>
                        </div> <br>
                        <div class="form-group">
                            <label class="col-md-4 col-form-label">Merchandise
                                Unit:</label>
                            <div class="col-md-12">
                                <input type="number" nbInput fullWidth formControlName="reward_quant" [ngClass]="{
                                    'is-invalid':submitted &&
                                    f.reward_quant?.errors}" required="true">
                            </div>
                        </div> <br>
                        <div class="form-group">
                            <label class="">How Many Points Does A Customer Need
                                To Have To Claim This Merchandise?</label>
                            <div class="col-md-12">
                                <input type="number" nbInput fullWidth formControlName="reward_point" [ngClass]="{
                                    'is-invalid':submitted &&
                                    f.reward_point?.errors}" required="true">
                            </div>
                        </div> <br>
                        <button class="btn btn-custom btn-rounded" type="submit" [disabled]="loading ||surveyMerchantForm.invalid"><span
                                *ngIf="loading" class="spinner-border
                                spinner-border-sm mr-1"></span>Update Reward</button>
                    </form>
                </nb-card-body>
            </nb-card>
        </div> <br><br>
    </div>
</div>