<div class="row">

    <div class="col-md-12">

        <div class="p-0 text-center">

            <div class="member-card">

                <div class="thumb-xl member-thumb m-b-10
                    center-page">

                    <a (click)="fileInput.click()" style="color:
                        #777;">

                        <img width="100px" height="100px" *ngIf="!imgURL" src="{{currentUser?.profile?.profile_picture_url}}" class="rounded-circle" alt="profile-image">
                        <img width="100px" height="100px" *ngIf="imgURL" [src]="imgURL" class="rounded-circle" alt="profile-image">

                        <p style="font-size: 10px;
                            padding-top:5px;cursor: pointer;">Change Image
                        </p>
                    </a>
                    <!-- <button *ngIf="selectedFile" (click)="uploadProfile()" class="upload_img ">Upload Photo</button> -->
                    <input style="display: none" type="file" (change)="onFileChanged($event,fileInput.files)" #fileInput accept='image/*'>
                </div>
                <br>
                <div class="">
                    <h5 class="m-b-5 mt-3">{{currentUser?.profile?.company_name}}</h5>
                </div>
            </div>
        </div>
        <!-- end card-box -->
    </div>
    <!-- end col -->
</div>
<div class="row">
    <nb-card-header>
        <h3 class="panel-title">Edit Company Profile</h3>
    </nb-card-header>
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card-body *ngIf="currentUser">
            <form role="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="form-group">

                    <label for="FullName">Company Name</label>
                    <input type="text" formControlName="company_name" class="form-control" [ngClass]="{
                        'is-invalid': submitted &&
                        f.company_name.errors }" />
                    <div *ngIf="submitted &&
                        f.company_name.errors" class="invalid-feedback">
                        <div *ngIf="f.company_name.errors.required">Company name is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Email">Company Email</label>
                    <input type="text" formControlName="company_email" class="form-control" [ngClass]="{
                        'is-invalid': submitted &&
                        f.company_email.errors }" />
                    <div *ngIf="submitted &&
                        f.company_email.errors" class="invalid-feedback">
                        <div *ngIf="f.company_email.errors.required">Company email is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Username">Registration Number</label>
                    <input type="text" formControlName="reg_number" class="form-control" [ngClass]="{'is-invalid':
                        submitted &&
                        f.reg_number.errors }" />
                    <div *ngIf="submitted &&
                        f.reg_number.errors" class="invalid-feedback">
                        <div *ngIf="f.reg_number.errors.required">Registration number is required</div>
                    </div>
                </div>
                <button [disabled]="loading || profileForm.invalid" class="btn
                    btn-custom btn-rounded" type="submit">
                    <span *ngIf="loading" class="spinner-border
                        spinner-border-sm mr-1"></span>Save and Update</button>
                <span *ngIf="message">{{message}}</span>
            </form>
        </nb-card-body>
    </nb-card>
</div>