<div class="row">
    <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20">
            Rewards
            <a [routerLink]="['/pages/all-rewards']" routerLinkActive="router-link-active" class="pull-right">
                <button type="button" class="btn btn-default btn-rounded">View All Rewards</button>
            </a>
        </h4>
    </div>
</div>
<div class="row">
    <p>These are the reward types we currently support: </p>
    <diV class="row">
        <div class="col-xxxl-4 col-xxl-3 col-lg-4 col-md-4">
            <nb-card size="small" class="solar-card">
                <nb-card-body>
                    <div class="widget-inline-box text-center">
                        <img src="assets/theme/images/merchandise.svg" style="width: 20%; margin-bottom: 20px;">
                        <h5>Merchandize</h5> <br>
                        <!-- <p style="font-size: 10px;">3 Merchandize Types Onboarded <br> 1200 Total Units Onboarded</p> -->
                        <a [routerLink]="['/pages/merchandize-reward']" routerLinkActive="router-link-active">
                            <button type="button" class="btn btn-default
                                btn-rounded"> View Rewards </button>
                        </a>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-xxxl-3 col-xxl-3 col-lg-5 col-md-6">
            <nb-card size="tiny" class="solar-card">
                <nb-card-body>
                    <div class="widget-inline-box text-center">
                        <img src="assets/theme/images/smartphone.svg" style="width: 20%; margin-bottom: 20px;">
                        <h5>Airtime</h5> <br>
                        <!-- <p style="font-size: 10px;">2 Airtime Value Onboarded <br> 100 Total Units Onboarded</p> -->
                        <a [routerLink]="['/pages/airtime-reward']" routerLinkActive="router-link-active">
                            <button type="button" class="btn btn-default
                                btn-rounded"> View Reward </button>
                        </a>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-xxxl-3 col-xxl-3 col-lg-5 col-md-6">
            <nb-card size="tiny" class="solar-card">
                <nb-card-body>
                    <div class="widget-inline-box text-center b-0">
                        <img src="assets/theme/images/loyalty-card.svg" style="width: 20%; margin-bottom: 20px;">
                        <h5>Loyalty Points</h5> <br>
                        <!-- <p style="font-size: 10px;">You have not loaded this yet</p> -->
                        <a [routerLink]="['/pages/loyalty-points']" routerLinkActive="router-link-active">
                            <button type="button" class="btn btn-default
                                btn-rounded"> View Reward </button>
                        </a>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-xxxl-3 col-xxl-3 col-lg-5 col-md-6">
            <nb-card size="tiny" class="solar-card">
                <nb-card-body>
                    <div class="widget-inline-box text-center b-0">
                        <img src="assets/theme/images/winner.svg" style="width:
                            20%; margin-bottom: 20px;">
                        <h6>Raffle Draw</h6> <br>
                        <!-- <p style="font-size: 10px;">You have not <br>loaded this yet</p> -->
                        <a [routerLink]="['/pages/raffle-draw']">
                            <button type="button" class="btn btn-default
                                btn-rounded"> View Reward </button>
                        </a>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </diV>
</div>
<div class="row">
    <nb-card class="col-lg-12">
        <nb-card-body>
            <div class="m-b-20">
                <h6 class="font-14 mt-4" style="padding-bottom: 50px;">
                    Redemption Sites Details:
                    <a [routerLink]="['/pages/create-redemption-point']" routerLinkActive="router-link-active" class="pull-right">
                        <button type="button" class="btn btn-default
                            btn-rounded">+ create redemption point</button>
                    </a>
                </h6>
                <table class="table m-0">
                    <thead class="table_color">
                        <tr>
                            <th>#</th>
                            <th>Agent's Name</th>
                            <th>Phone Number</th>
                            <th>Location</th>
                            <th>Agent Code</th>
                            <th>Redeemed Rewards</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let redemptnpnt of redemptionpoints;let
                            i=index;" class="col_color">
                            <th scope="row">{{i+1}}</th>
                            <td>{{redemptnpnt.point_agent_name}}</td>
                            <td>{{redemptnpnt.point_agent_phone}}</td>
                            <td>{{redemptnpnt.point_address}}, {{redemptnpnt.point_location}}
                            </td>
                            <td>{{redemptnpnt.point_agent_code}}</td>
                            <td>{{redemptnpnt.reward_redeemed}}</td>
                            <td>
                                <a style="color: #23b195;">
                                    <i class="fa fa-eye"></i> View Agent
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </nb-card-body>
    </nb-card>
</div>
<!-- <div class="row">
    <nb-card class="col-lg-12">
        <nb-card-body>
            <div class="m-b-20">

                <h6 class="font-14 mt-4" style="padding-bottom: 20px;">
                    Reward Point Redemption List:
                </h6>
                <table class="table m-0">
                    <thead class="table_color">
                        <tr>
                            <th>#</th>
                            <th>Customer's Name</th>
                            <th>Phone Number</th>
                            <th>Age</th>
                            <th>Redemption Location</th>
                            <th>Points Released</th>
                            <th>Item Won</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="col_color">
                            <th scope="row">1</th>
                            <td>Dare Baba</td>
                            <td>08011100033</td>
                            <td>21</td>
                            <td>Bwari, Abuja</td>
                            <td>2</td>
                            <td>Tshirt</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </nb-card-body>
    </nb-card>
</div> -->