<div class="row">
    <div class="col-sm-12">

        <a [routerLink]="['/pages/product']" style="font-size: 12px;color: #777;" class="m-b-20">

            << Go back </a>
    </div>
    <div class="col-sm-12">

        <div class="row">

            <div class="col-md-12 text-center">

                <img src="assets/theme/images/qr-codes.svg" style="width: 8%;padding-bottom: 20px;">

                <h6 style="color: #23b195;"> Generate QR Labels Instantly</h6> <br>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <form class="form-horizontal" role="form" [formGroup]="newPinForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">

                        <label class="col-md-12 col-form-label">Select Product</label>
                        <div class="col-md-12">

                            <select class="form-control" formControlName="product_id" (change)="onChange($event)">

            <option *ngFor="let product of save_products"
              value="{{product.id}}">{{product.product_name}}</option>
          </select>

                        </div>

                    </div>

                    <div class="form-group" *ngIf="save_sub_products">

                        <label class="col-md-12 col-form-label">Select Batch</label>
                        <div class="col-md-12">

                            <select class="form-control" formControlName="sub_product_id">

            <option *ngFor="let sub_product of save_sub_products"
              value="{{sub_product.id}}">{{sub_product.product_name}}
              ({{sub_product.batch_num}})</option>
            </select>

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-md-12 col-form-label">Number of Pins You Want  To Generate</label>

                        <div class="col-md-12">

                            <input type="text" formControlName="pin_quantity" class="form-control" placeholder="e.g.1,2,1000">

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-md-12 col-form-label">What Pin Type Do You Want To Generate?</label>

                        <div class="col-md-12">

                            <select class="form-control" formControlName="pin_type">

            <option value="agent">Agent</option>

            <option value="product">Product</option>

          </select>

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-md-12 col-form-label">How Do You Want It Delivered?</label>

                        <div class="col-md-12">

                            <select class="form-control">

            <option>Select...</option>

            <option>Export Codes in PDF</option>

            <option>Get Tamper Proof Sticker Labels Delivered By Us</option>
          </select>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" [disabled]="loading || newPinForm.invalid" class="btn btn-custom btn-rounded">
                         <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Generate Codes</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>