<div class="row">
    <div class="col-sm-12">
        <a [routerLink]="['/pages/product']" style="font-size: 12px;
            color: #777;" class="m-b-20">
            << Go back </a> <br><br><br>
                <h4 class="header-title m-t-0 m-b-20">
                    Edit Product
                </h4>
    </div>
</div>
<div class="row">

    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-2">

                <div class="thumb-xl member-thumb m-b-10 center-page">
                    <img src="{{productObjct.product_image}}" class="rounded-circle img-thumbnail" alt="profile-image">
                    <br><br>

                    <!-- <p style="padding-bottom: 40px;"> Change Image</p> -->
                    <!-- <input type="file" name="pic" accept="image/*"> -->
                    <br><br>
                </div>
            </div>

            <div class="col-md-1"></div>

            <nb-card class="col-md-9 col-lg-9 col-xxxl-9">
                <nb-card-body>
                    <form class="form-horizontal" role="form" [formGroup]="productForm" (ngSubmit)="onSubmit()">

                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">Product Name:</label>
                            <div class="col-md-12">
                                <input type="text" nbInput fullWidth formControlName="product_name" [ngClass]="{ 'is-invalid': submitted && f.product_name?.errors}" placeholder="Product ame" required="true">
                            </div>
                        </div> <br>

                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">Product Description:</label>
                            <div class="col-md-12">
                                <textarea nbInput fullWidth rows="5" formControlName="product_description" [ngClass]="{'is-invalid':submitted &&  f.product_description?.errors}" placeholder="Product Description"></textarea>
                            </div>
                        </div> <br>
                        <div class="form-group radio">
                            <label class="col-md-6
                                col-form-label">What Age Group
                                is the Product For?</label>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="radio col-md-4">
                                        <input id="checkbox0" type="radio" formControlName="age_range" value="0-2">
                                        <label for="checkbox0">
                                            0-2 years
                                        </label>
                                    </div>

                                    <div class="radio col-md-4">
                                        <input id="checkbox1" type="radio" formControlName="age_range" value="2-12">
                                        <label for="checkbox0">
                                            2-12 years
                                        </label>
                                    </div>

                                    <div class="radio col-md-4">
                                        <input id="checkbox2" type="radio" formControlName="age_range" value="13-19">
                                        <label for="checkbox0">
                                            13-19 years
                                        </label>
                                    </div>

                                    <div class="radio col-md-4">
                                        <input id="checkbox3" type="radio" formControlName="age_range" value="20-29">
                                        <label for="checkbox0">
                                            20-29 years
                                        </label>
                                    </div>

                                    <div class="radio col-md-4">
                                        <input id="checkbox4" type="radio" formControlName="age_range" value="30-40">
                                        <label for="checkbox0">
                                            30-40 years
                                        </label>
                                    </div>
                                    <div class="radio col-md-4">
                                        <input id="checkbox5" type="radio" formControlName="age_range" value="40 and
                                            above">
                                        <label for="checkbox0">
                                            40 and above
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div> <br>
                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">Production Date:</label>
                            <div class="col-md-12">
                                <input type="date" nbInput fullWidth formControlName="production_date" [ngClass]="{'is-invalid':
                                    submitted &&
                                    f.expiry_date?.errors}" required="true" placeholder="Product Expiry
                                    Date">
                            </div>
                        </div> <br>
                        <div class="form-group">
                            <label class="col-md-4
                                col-form-label">Expiry Date:</label>
                            <div class="col-md-12">
                                <input type="date" formControlName="expiry_date" [ngClass]="{'is-invalid':
                                    submitted &&
                                    f.production_date?.errors
                                    }" required="true" placeholder="Product
                                    Production Date" nbInput fullWidth>
                            </div>
                        </div> <br>

                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">Batch Number:</label>
                            <div class="col-md-12">
                                <input type="text" nbInput fullWidth formControlName="batch_num" [ngClass]="{
                                    'is-invalid':submitted &&
                                    f.batch_num?.errors}" required="true" placeholder="Product Batch
                                    Number">
                            </div>

                        </div> <br>

                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">Barcode Number:</label>
                            <div class="col-md-12">
                                <input type="text" nbInput fullWidth formControlName="barcode_num" [ngClass]="{ 'is-invalid':
                                    submitted &&
                                    f.barcode_num?.errors}" required="true" placeholder="Product Barcode
                                    Number">
                            </div>

                        </div> <br>


                        <div class="form-group radio">
                            <label class="col-md-6
                                col-form-label">Product
                                Category:</label>

                            <div class="col-md-12">

                                <div class="row">

                                    <br>

                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="product_category" value="Organic">
                                        <label for="checkbox0">
                                            Organic
                                        </label>
                                    </div>

                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="product_category" value="Synthesized">
                                        <label for="checkbox0">
                                            Synthesized
                                        </label>
                                    </div>

                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="product_category" value="Hybrid">
                                        <label for="checkbox0">
                                            Hybrid
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div> <br>
                        <div class="form-group radio">
                            <label class="col-md-6
                                col-form-label">ID
                                Range:</label>

                            <div class="col-md-12">

                                <div class="row">

                                    <br>

                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="id_range" value="10000">
                                        <label for="checkbox0">
                                            10,000 units
                                        </label>
                                    </div>

                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="id_range" value="50000">
                                        <label for="checkbox0">
                                            50,000 units
                                        </label>
                                    </div>

                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="id_range" value="500000">
                                        <label for="checkbox0">
                                            500,000
                                            units
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div> <br>
                        <!-- <div class="form-group">
                            <label class="col-md-12 col-form-label">Please select the survey you want to attach to  this Product.</label>
                            <div class="col-md-12">
                                <select class="custom-select mt-3" formControlName="surveyId">
                                    <option *ngFor="let survey of save_survey"value="{{survey.id}}">{{survey.title}}</option>
                                </select>
                            </div>
                        </div> <br> -->
                        <!-- <div class="form-group">
                            <label class="col-md-12
                                col-form-label">Please select the rewards you want to attach to this Product.</label>
                            <div class="col-md-12">
                                <select class="custom-select mt-3" formControlName="rewardId">
                                    <option *ngFor="let reward of save_surveyReward"value="{{reward.id}}">{{reward.reward_type}} {{reward.reward_value}}</option>
                                </select>
                            </div>
                        </div>
                        <br><br> -->
                        <button class="btn btn-custom btn-rounded" type="submit" [disabled]="loading || productForm.invalid"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Save and Update</button>
                    </form>
                </nb-card-body>
            <!-- </nb-card>
            <nb-card class="form-group col-md-12">
                <nb-card-body>
                    <div class="form-group col-md-6"  *ngFor="let b of batches">
                        <label class="col-md-12 col-form-label">Batch {{ b.batch_num }}</label>
                        <div class="row">
                            <div class="col-md-9">
                                <select class="custom-select mt-3">
                                    <option *ngFor="let survey of save_survey" value="{{survey.id}}">{{survey.title}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-custom btn-rounded" type="submit"><span *ngIf="processing" class="spinner-border spinner-border-sm mr-1"></span><i  *ngIf="!processing" class="mdi mdi-alert"></i></button>
                            </div>
                        </div>

                    </div> <br>
                </nb-card-body> -->
            </nb-card>
        </div> <br><br>
    </div>

</div>