<div class="row">

    <div class="col-sm-12">

        <a [routerLink]="['/pages/product']" style="font-size: 12px; color: #777;" class="m-b-20">

            << Go back </a> <br><br><br>

                <h4 class="header-title m-t-0 m-b-20">

                    You Are Viewing {{batchObjct.product_name}} Batch {{batchObjct.batch_num}}

                    <a (click)="gotoCreateBatch(batchObjct)" class="pull-right">

                        <button type="button" class="btn btn-default btn-rounded">+ Create New Batch</button>
                    </a>
                </h4>
    </div>
</div>

<br><br>
<div class="row">
    <div class="col-sm-12">
        <div class="row">

            <div class="col-md-10">

                <form class="form-horizontal" role="form">

                    <div class="form-group">

                        <div class="col-md-8">

                            <p>Batch Name: <strong> {{batchObjct.batch_num}} </strong> </p>

                        </div>

                    </div> <br>

                    <div class="form-group">

                        <div class="col-md-8">

                            <p>Production Date: <strong>  {{batchObjct.production_date  | amLocal | amDateFormat: 'DD/MM/YYYY'}} </strong> </p>

                        </div>

                    </div> <br>

                    <div class="form-group">

                        <div class="col-md-8">

                            <p>Shelf Life: <strong> {{getShelfLife(batchObjct.production_date,batchObjct.expiry_date)}} Days </strong> </p>

                        </div>

                    </div> <br>

                    <a (click)="gotoBatchPins()">

                        <button type="button" class="btn btn-custom btn-rounded">View Generated Code For This Batch</button>

                    </a>

                </form>
            </div>
        </div> <br><br>
    </div>

</div>