<div class="row">
    <div class="col-sm-12">
        <a [routerLink]="['/pages/rewards']" style="font-size: 12px;
            color: #777;" class="m-b-20">
            << Go back </a> <br><br><br>
                <h4 class="header-title m-t-0 m-b-20">
                    Edit Airtime Reward
                </h4>
    </div>
</div>
<div class="row">
    <nb-card class="col-md-9 col-lg-9 col-xxxl-9">
        <nb-card-body>
            <form class="form-horizontal" role="form" [formGroup]="surveyRewardForm" (ngSubmit)="onSubmit()">
                <div class="form-group">

                    <label class="col-md-12 col-form-label">Airtime({{airtimeObjct.reward_value}}) Naira Value</label>

                    <div class="col-md-12">

                        <input type="number" class="form-control" formControlName="reward_value" placeholder="e.g. 50,100">

                    </div>
                    <label class="col-md-12 col-form-label">Airtime(a) Units</label>

                    <div class="col-md-12">

                        <input type="number" class="form-control" formControlName="reward_quantity" placeholder="e.g. 100, 200, 300">

                    </div>
                </div>

                <br>
                <div class="text-center">

                    <button type="submit" class="btn btn-custom btn-rounded" [disabled]="loading ||  surveyRewardForm.invalid"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Update</button>
                </div>

            </form>
        </nb-card-body>
    </nb-card>
</div>