<div class="row">
    <div class="col-sm-12">

        <a [routerLink]="['/pages/retargeting']" routerLinkActive="router-link-active" style="font-size: 12px; color:
            #777;" class="m-b-20">
            << Go back </a>
    </div>
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card-body>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="header-title m-t-0 m-b-20 title-1">Contact Group Lists You Have Created</h3>
                </div>
            </div>

            <div class="table-responsive">
                <div class="row">
                    <div class="col col-md-7">
                        <h6 class="header-title m-t-0 m-b-20 title-1">{{contacts?.length}} contacts:</h6>
                    </div>
                    <div class="col col-md-5">
                        <button class="btn btn-outline-secondary" [routerLink]="['/pages/retargeting']" type="submit">+ Add New Contact Group</button>
                        <button class="btn btn-outline-secondary" [routerLink]="['/pages/retargeting']" type="submit">Send Bulk SMS</button>
                        <!-- <button class="btn btn-outline-secondary" (click)="csvOff()" type="submit">Filter</button> -->
                    </div>
                </div>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">VIP Level</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Age</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Location</th>
                            <th scope="col">Product Model</th>
                            <th scope="col">Purchase Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of contacts">
                            <td>{{c.vip_level}}</td>
                            <td>{{c.name}}</td>
                            <td>{{c.gender}}</td>
                            <td>{{c.age}}</td>
                            <td>{{c.phone_number}}</td>
                            <td>{{c.location}}</td>
                            <td>{{c.product_model}}</td>
                            <td>{{c.purchase_date | date:'dd/MM/yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </nb-card-body>
    </nb-card>
</div>