<div class="row">
    <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20">
            My Products
            <a routerLink="/pages/add-product" routerLinkActive="router-link-active" class="pull-right">
                <button type="button" class="btn btn-default btn-rounded">+ Add
                    New Product</button>
            </a>
        </h4>
    </div>
</div>
<div class="row" *ngIf="save_products.length>0">
    <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6" *ngFor="let product of
        save_products">
        <nb-card size="medium" class="solar-card">
            <nb-card-body>
                <div class="text-center">
                    <div class="member-card mt-4">
                        <span class="user-badge bg-warning">{{product?.product_category
                            || "Product"}}</span>
                        <div class="thumb-xl member-thumb m-b-10 center-page">
                            <img src="{{product.product_image}}" onerror="this.onerror=null;this.src='assets/theme/images/lonart.jpg';" class="rounded-circle img-thumbnail" alt="profile-image">
                            <i class="mdi mdi-information-outline member-star
                                text-success" title="verified"></i>
                        </div>
                        <div class="">
                            <h5 class="m-b-5 mt-2">{{product.product_name}}
                                <br>
                                <p style="font-size: 14px; margin-top:10px;">
                                    ({{product.id_range}} units) </p>
                            </h5>
                            <p style="font-size: 12px;">
                                <a (click)="ViewProduct(product)" style="color:
                                    #e2ab3b; font-weight: 600; margin-right:
                                    10px;"> <i class="fa fa-eye"></i> View Batches
                                </a>
                                <span> <a (click)="CreateBatch(product)"
                                        style="color: #23b195; font-weight: 600;
                                        margin-left: 10px;"> <i class="fa
                                            fa-plus"></i> Create New Batch</a>
                                </span>
                            </p>
                        </div>

                        <p class="text-muted font-13">
                            {{product.product_description}}
                        </p>
                        <button (click)="editProduct(product)" type="button" class="btn btn-default btn-rounded btn-sm m-t-10">Edit
                            Product</button>
                        <!-- <button (click)="viewPerfoormance(product)" type="button" class="btn btn-default btn-rounded
                            btn-sm m-t-10">View Performance</button> -->
                        <br>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div *ngIf="save_products.length<1">
    <p class="empty_prodct">No products created yet!</p>
</div>