<div class="row">

    <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20">Code Collections</h4>
    </div>
</div>
<div class="row">
    <nb-card class="col-lg-12">
        <nb-card-body>
            <div class="m-b-20">
                <h6 class="m-t-0">List of All Product Batches</h6>
            </div>
            <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
                <ngx-datatable-column name="Product Name">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                        <span title="Double click to edit">
                                            {{row.product_name}}
                                        </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Batch Number">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                        <span title="Double click to edit">
                                            {{row.batch_num}}
                                        </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Quantity">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                        <span>
                                            {{row.total_generated_code}}
                                        </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Date Created">
                    <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.created_at | amCalendar:{sameElse:'Do MMMM, YYYY',lastWeek:'Do MMMM, YYYY'} }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                        <a (click)="gotoPrintCode(row)" style="color: #23b195;margin-right: 20px;"><i class="fa fa-print"></i> Print</a>
                        <a (click)="ViewBatch(row)" style="color: #23b195;margin-right: 20px;"><i class="fa fa-eye"></i> View</a>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

        </nb-card-body>
    </nb-card>
</div>