<div class="row">

    <div class="col-sm-12">

        <a (click)="productPins()" style="font-size: 12px; color: #777;" class="m-b-20">

            << Go back </a>
    </div>

    <div class="col-sm-12">

        <div class="row">

            <div class="col-md-12 text-center">

                <img src="assets/theme/images/happy.svg" style="width: 8%; padding-bottom: 20px;">

                <h6 style="color: #23b195;">Welldone So Far; Now Let's Generate Barcode Labels For Your Product</h6> <br>

            </div>


            <div class="col-md-3"></div>


            <div class="col-md-6">

                <form class="form-horizontal" role="form" [formGroup]="newPinForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">

                        <label class="col-md-12 col-form-label">Number of Pins You Want To Generate</label>

                        <div class="col-md-12">

                            <input type="text" class="form-control" formControlName="pin_quantity" placeholder="e.g. 1,2,1000">

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-md-12 col-form-label">What Pin Type Do You Want To Generate?</label>

                        <div class="col-md-12">

                            <select class="form-control" formControlName="pin_type">
                            
                            <option value="agent">Agent</option>
                            
                            <option value="product">Product</option>
                        
                        </select>

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-md-12 col-form-label">How Do You Want It Delivered?</label>

                        <div class="col-md-12">

                            <select class="form-control">
                            
                            <option>Select...</option>

                            <option>Export Codes in PDF</option>
                            
                            <option>Get Tamper Proof Sticker Labels Delivered By Us</option>
                    
                        </select>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" [disabled]="loading || newPinForm.invalid" class="btn btn-custom btn-rounded"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Generate Codes</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>