<div class="row">
    <div class="col-sm-12">

        <a [routerLink]="['/pages/rewards']" routerLinkActive="router-link-active" style="font-size: 12px; color: #777;" class="m-b-20">

            << Go back </a>
    </div>
    <div class="col-md-12 text-center">

        <img src="assets/theme/images/store.svg" style="width:
            8%; padding-bottom: 20px;">

        <h6 style="color: #23b195;">Create Redemption Point</h6>
        <br>
    </div>
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card-body>
            <form class="form-horizontal" role="form" [formGroup]="redemptionPointForm" (ngSubmit)="onSubmit()">

                <div class="form-group">

                    <label class="col-md-12 col-form-label">Select Location</label>

                    <div class="col-md-12">

                        <select class="custom-select mt-3" formControlName="point_location">

                            <!-- <option>Lagos</option>

                            <option>Abuja</option> -->
                            <option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</option>

                        </select>
                        <p style="font-weight: bold;font-size: 0.8em;color: #a00d2e;padding: 2px;margin-top: 10px; float: right;" (click)="openLocationModal()">+ Add Location</p>
                    </div>

                </div>

                <div class="form-group">

                    <label class="col-md-12 col-form-label">Address</label>
                    <div class="col-md-12">

                        <input type="text" formControlName="point_address" nbInput fullWidth placeholder="">

                    </div>

                </div>

                <div class="form-group">

                    <label class="col-md-12 col-form-label">Agent Name</label>

                    <div class="col-md-12">

                        <input type="text" formControlName="point_agent_name" nbInput fullWidth placeholder="agent name">

                    </div>

                </div>
                <div class="form-group">

                    <label class="col-md-12 col-form-label">Agent Phone Number</label>

                    <div class="col-md-12">

                        <input type="text" formControlName="point_agent_phone" nbInput fullWidth placeholder="agent phone number">

                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-12 col-form-label">Agent Code</label>
                    <div class="col-md-12">
                        <input type="text" formControlName="point_agent_code" nbInput fullWidth placeholder="12001">
                    </div>
                </div>

                <div class="form-group">

                    <label class="col-md-12 col-form-label">What Reward Type Will Be Handled?</label>
                    <div class="col-md-12">

                        <select class="custom-select mt-3" formControlName="survey_rewardId">
                            <option *ngFor="let reward of save_surveyReward" value="{{reward.id}}">{{reward.reward_type}} ({{reward.reward_value}})</option>
                        </select>
                    </div>
                </div>
                <br>

                <div class="text-center">
                    <button type="submit" class="btn btn-custom btn-rounded" [disabled]="loading || redemptionPointForm.invalid">Create Redemption Point</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>