<div class="row">
    <div class="col-sm-12">
        <a [routerLink]="['/pages/survey']" routerLinkActive="router-link-active" style="font-size:
            12px; color: #777;" class="m-b-20">
            << Go back </a> <br><br><br>
                <h4 class="header-title m-t-0 m-b-20"> View {{survey_data?.title}}
                    <a (click)="gotoEditSurvey(survey_data,questions)" routerLinkActive="router-link-active" class="pull-right">
                        <button type="button" class="btn btn-default
                    btn-rounded">Edit Survey</button>
                    </a>
                </h4>
    </div>
</div>
<div class="row">
    <div id="chart"></div>
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card-body>
            <form class="form-horizontal" role="form" *ngIf="questionsWithResponses">

                <div class="form-group">

                    <div class="col-md-12">

                        <p>Survey Name: <strong>
                                {{survey_data?.title}}
                            </strong> </p>
                    </div>

                </div> <br>

                <div class="form-group">

                    <div class="col-md-12">

                        <p>Survey Description:
                            <strong> {{survey_data?.content}}
                            </strong>
                        </p>
                    </div>
                </div> <br>

                <div class="form-group" *ngFor="let item of
                questionsWithResponses;let i=index;">

                    <label class="col-md-12 col-form-label">Question
                        {{i+1}}: {{item.content}}</label>

                    <div class="col-md-12">
                        <select class="custom-select mt-3">
                            <option selected *ngFor="let option of toJson(item.choices)">{{option.text}}</option>
                        </select>

                    </div> <br>
                </div> <br>
            </form>
        </nb-card-body>
    </nb-card>
</div>

<div *ngIf="survey_data.type == 1">
    <div class="container">
        <h5>Statistics:</h5>
    </div>
    <div class="form-group" *ngIf="questionsWithResponses2">
        <div class="col-md-12">
          <div class="col-md-4">
            <select class="custom-select mt-3" [(ngModel)]="chartType">
                <option selected disabled>Chart type</option>
                <option value="pie">Pie Chart</option>
                <option value="bar">Bar Chart</option>
                <option value="doughnut">Doughnut Chart</option>
            </select>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" *ngFor="let survey of questionsWithResponses2; index as i">
            <nb-card>
                <nb-card-header>{{survey.question_text}}</nb-card-header>
                <nb-card-body>                    
                    <canvas baseChart #surveyChart height="150px" [data]="survey.values" [labels]="survey.labels" [chartType]="chartType" [colors]="i == 0?colors1: i == 1?colors2:colors3">
                    </canvas>
                    <span class="c" *ngFor="let vals of survey.values; let i = index">
                        <span *ngIf="vals > 0">{{ survey.labels[i] }} = {{returnAnsPercentage(vals,survey.values) | number:'1.0-0' }} %</span>
                    </span>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>

<div *ngIf="survey_data.type == 2">
    <div class="container">
        <h5>Statistics:</h5>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <nb-card>
                <nb-card-header>Gender</nb-card-header>
                <nb-card-body>
                    <chart type="pie" [data]="data" [options]="options"></chart>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-lg-6">
            <nb-card>
                <nb-card-header>Age Group</nb-card-header>
                <nb-card-body>
                    <chart type="bar" [data]="data2" [options]="options2"></chart>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-offset-lg-3">
            <nb-card>
                <nb-card-header>Location</nb-card-header>
                <nb-card-body>
                    <chart type="pie" [data]="data3" [options]="options3"></chart>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    

</div>