@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import "~material-design-icons/iconfont/material-icons.css";
@import url("https://unpkg.com/@icon/themify-icons/themify-icons.css");
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
// themes - our custom or/and out of the box themes
@import "themes";
// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/all";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
// loading progress bar theme
@import "./pace.theme";
@import "./layout";
@import "./overrides";
// install the framework and custom global styles
@include nb-install() {
    // framework global styles
    @include nb-theme-global();
    @include nb-auth-global();
    @include ngx-layout();
    // loading progress bar
    @include ngx-pace-theme();
    @include nb-overrides();
}

.nb-theme-default .nb-spinner-container {
    position: unset !important;
}

.nb-theme-default nb-spinner .message {
    color: crimson;
    font-family: Open Sans, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.ngx-datatable.material {
    background: transparent !important;
    box-shadow: none !important;
    .datatable-body {
        .datatable-body-row {
            .datatable-body-cell {
                color: #6e7382 !important;
            }
        }
    }
    .datatable-footer {
        color: #6e7382 !important;
    }
    .datatable-pager a {
        color: #6e7382 !important;
    }
    .datatable-header .datatable-header-cell {
        text-align: left;
        padding: 0.9rem 1.2rem;
        font-weight: 400;
        background-color: transparent;
        color: teal;
        vertical-align: bottom;
        font-size: 20px;
        font-weight: 600;
    }
}

.material-icons {
    font-family: ‘Material Icons’;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: ‘liga’;
}