<div class="row">

    <div class="col-sm-12">

        <h4 class="header-title m-t-0 m-b-20">Product Batches</h4>
        <a (click)="gotoCreateBatch(productObjct)" class="pull-right">
            <button type="button" class="btn btn-default btn-rounded">+ Create New Batch</button>
        </a>
        <br>
        <br>
        <br>
    </div>

</div>
<div class="row">

            <div class="col-sm-12">

                <nb-card size="medium" class="solar-card">
                    <nb-card-body>
                            <!-- <h6 class="m-t-0">List of Product Batches</h6> -->

                            <div class="table-responsive">

                                <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
                                    <ngx-datatable-column name="Product Name">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                            <span title="Double click to edit">
                                                        {{row.product_name}}
                                                    </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Batch Number">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                            <span title="Double click to edit">
                                                        {{row.batch_num}}
                                                    </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Quantity">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                            <span>
                                                        {{row.total_generated_code}}
                                                    </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Date Created">
                                        <ng-template ngx-datatable-cell-template let-row="row">
                                            {{row.created_at | amCalendar:{sameElse:'Do MMMM, YYYY',lastWeek:'Do MMMM, YYYY'} }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Actions">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                            <a (click)="ViewBatch(row)" routerLinkActive="router-link-active" style="color: #777;margin-right: 20px;cursor: pointer;">
                                                <i class="fa fa-eye"></i> View</a>
                                            <a (click)="gotoEditBatch(row)" routerLinkActive="router-link-active" style="color:#777;margin-right:20px;cursor:pointer;">
                                                <i class="fa fa-edit"></i> Edit</a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>

                            </div>
                    </nb-card-body>
                </nb-card>
            </div>
        
</div>