<div class="white_bg_container">
    <div class="row">
        <div class="col-sm-12">

            <a  *ngIf="!adding" [routerLink]="['/pages//raffle-draw']" routerLinkActive="router-link-active" style="font-size: 12px; color: #777;" class="m-b-20"><< Go back </a>
            <a  *ngIf="adding" (click)="toggleAdding()" style="font-size: 12px; color: #777;" class="m-b-20"><< Go back </a>
        </div>
        <div class="col-md-12 text-center">
            
            <img *ngIf="!adding" src="assets/theme/images/raffle.svg" style="width: 8%; padding-bottom: 20px;">
            <img *ngIf="adding" src="assets/theme/images/new-reward.svg" style="width: 8%; padding-bottom: 20px;">

            <h6 style="color: #23b195;">{{raffle?.reward_value}}</h6> <br>
        </div>
    </div>
    <div *ngIf="!selectingWinner">
        <div class="row" *ngIf="raffleStats">
            <nb-card class="col-md-2 offset-md-3 green-card">
                <nb-card-body>
                            <div class="col-md-12">
                                <img src="assets/theme/images/mailbox.svg" style="padding-bottom: 10px; height: 40px;">
                                <h3>{{raffleStats.totalCount}}</h3>
                                <p *ngIf="raffle">Total Entries </p>
                            </div>
                </nb-card-body>
            </nb-card>
            <nb-card class="col-md-2 offset-md-1 green-card">
                <nb-card-body>
                            <div class="col-md-12">
                                <img src="assets/theme/images/team.svg" style="padding-bottom: 10px; height: 40px;">
                                <h3>{{raffleStats.uniqueCount}}</h3>
                                <p *ngIf="raffle">Unique Entries </p>
                            </div>
                </nb-card-body>
            </nb-card>
        </div>

        <div class="row col-lg-12" *ngIf="gifts && gifts.length>0">  
            <div class="col-lg-12">
                <h6 style="color: #23b195;">List of Gifts You Have Onboarded:</h6> <br>
            </div>          

            <div class="col-lg-3 col-md-3" *ngFor="let gift of
            gifts">
                <nb-card size="medium" class="solar-card" style="height: 300px;">
                    <nb-card-body>
                        <div class="text-center">
                            <div class="member-card mt-4">
                                <div class="thumb-xl member-thumb m-b-10 center-page">
                                    <img src="{{gift.photo}}" class="rounded img-thumbnail" alt="profile-image">
                                </div>
                                <div class="">
                                    <h5 class="m-b-5 mt-2">{{gift.name}}
                                    </h5>
                                </div>
        
                                <button (click)="selectRaffleWinner(gift)" [disabled]="gift.raffle_winners && gift.raffle_winners.length > 0" type="button" class="btn btn-default btn-rounded btn-sm m-t-10">{{gift.raffle_winners.length > 0?'Winner Selected':'Select Winner'}}</button>
                                <p *ngIf="gift.raffle_winners && gift.raffle_winners.length > 0"><br><b>Winner:</b>  {{gift.raffle_winners[0].phone_number}}</p>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="selectingWinner">
        <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
            <nb-card-body class="row">

                    <div class="col-lg-4">
                    </div>
                    <div class="form-group col-lg-6">
                        <div style="text-align: center;">
                            <div *ngIf="loadingSelect" style="width: 200px; height: 60px; padding: 10px; border-radius: 10px; text-align: center;">
                                <span class="spinner-grow spinner-grow-lg mr-1"></span>
                                <p>Selecting winner... </p>
                            </div>
                            <img *ngIf="raffleWinner" src="assets/theme/images/party.svg" style="padding-bottom: 10px; height: 40px;">
                            <h4 *ngIf="raffleWinner">Awesome !!!</h4>
                            <p *ngIf="raffleWinner"> User ID: <b> {{ raffleWinner.phone_number }}</b> is your winner. A notification has been automatically sent to users and other winners.</p>
                            <!-- <p *ngIf="raffleWinner"><b>Winner for {{selectedGift?.name}}:</b> {{ raffleWinner.phone_number }}</p> -->
                            <button (click)="closeSelectWinner()" type="button btn-block" class="btn btn-default btn-rounded btn-sm m-t-10">Close</button>

                        </div>                     

                        <div class="col-md-12" style="text-align: center;">
                        </div>

                    </div> 
                    <div class="col-lg-4">
                    </div>   
            </nb-card-body>
        </nb-card>
    </div>
</div>



