.img-thumbnail {
    width: 100%;
    height: 80px;
}

.empty_prodct {
    text-align: center;
}

.green-card{
    color: #000;
    background-color: #95FFB1;
    height: 200px;
    text-align: center;
}

.solar-card{
    height: 350px !important;
    border: solid 1px #efefef
}