<div class="row">
    <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20">
            Surveys
            <a [routerLink]="['/pages/create-survey']" routerLinkActive="router-link-active" class="pull-right">
                <button type="button" class="btn btn-default
                    btn-rounded">+ create new survey</button>
            </a>
        </h4>
    </div>
</div>
<div class="row">

    <div class="col-sm-12">

        <div class="row">
            <div class="col-lg-3 offset-sm-2">
                <nb-card size="tiny" class="solar-card card-box-color">
                    <nb-card-body>
                        <div class="text-center">
                            <br>
                            <!-- <img src="assets/theme/images/gift.svg" class="dash-img"> -->
                            <h3>{{save_survey?.length || 0}}</h3> <br>
                            <p> Surveys Created</p> <br>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-lg-3">
                <nb-card size="tiny" class="solar-card card-box-color">
                    <nb-card-body>
                        <div class="text-center">
                            <br>
                            <!-- <img src="assets/theme/images/gift.svg" class="dash-img"> -->
                            <h3>{{user_recordCounts?.response_count || 0}}</h3> <br>
                            <p> Questions Answered</p> <br>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
    <br><br>
</div>
<div class="row">
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card-header>
            Surveys Created
        </nb-card-header>
        <nb-card-body>
            <table class="table">
                <thead class="table_color">
                    <tr>
                        <th>Name </th>

                        <th>Title</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let survey of save_survey" class="col_color">
                        <td scope="row"> {{survey?.title}}    <nb-badge *ngIf="survey.type == 2" text="NL" status="success" position="left"></nb-badge></td>
                        <td>{{survey.content}}</td>
                        <td>
                            <a (click)="gotoViewSurvey(survey)" routerLinkActive="router-link-active" style="color:#777;margin-right: 20px;cursor:pointer;">
                                <i class="fa fa-eye"></i> View</a>
                            <a (click)="gotoEditSurvey(survey,getSurveyQuestions(survey))" routerLinkActive="router-link-active" style="color:#777;margin-right:20px;cursor:pointer;">
                                <i class="fa fa-edit"></i> Edit</a>
                            <!-- <a href="#" style="color: #777;margin-right: 20px;cursor:pointer;">
                                <i class="fa fa-trash"></i>Delete</a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </nb-card-body>
    </nb-card>
</div>