<div class="row">
    <div class="col-sm-12">

        <a [routerLink]="['/pages/rewards']" routerLinkActive="router-link-active" style="font-size: 12px; color: #777;" class="m-b-20">

            << Go back </a>
    </div>
    <div class="col-md-12 text-center">

        <img src="assets/theme/images/loyalty-card.svg" style="width: 8%; padding-bottom: 20px;">

        <h6 style="color: #23b195;">Loyalty Points Reward</h6> <br>

    </div>
</div>
<div class="row">
    <nb-card class="col-lg-12">
        <nb-card-body>
            <div class="m-b-20">
                <h6 class="font-14 mt-4" style="padding-bottom: 50px;">
                    List of Points You Have Created:
                    <a [routerLink]="['/pages/add-loyalty-point']" routerLinkActive="router-link-active" class="pull-right">
                        <button type="button" class="btn btn-default btn-rounded">+create loyalty points</button>
                    </a>
                </h6>
                <table class="table m-0">
                    <thead class="table_color">
                        <tr>
                            <th>Name</th>
                            <th>Number of Points Needed</th>

                            <th>Reward To Be Won</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="loyalt_points" class="col_color">
                        <tr *ngFor="let loyalty_point of loyalt_points">
                            <td>
                                {{loyalty_point.loyalty_name}}
                            </td>

                            <td>
                                {{loyalty_point.loyalty_point_convert}}
                            </td>

                            <td>
                                {{loyalty_point.loyalty_reward}}
                            </td>

                            <td>
                                <a (click)="view_loyaltyPoint(loyalty_point)" style="color: #23b195; margin-right: 20px;">
                                    <i class="fa fa-eye"></i> View</a>
                            </td>
                        </tr>
                    </tbody>
                    <p *ngIf="!loyalt_points"></p>
                </table>
            </div>

        </nb-card-body>
    </nb-card>
</div>