<div class="row">
    <div class="col-sm-12">

        <a [routerLink]="['/pages/overview']" routerLinkActive="router-link-active" style="font-size: 12px; color:
            #777;" class="m-b-20">
            << Go back </a>
    </div>
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card-body>
            <form class="form-horizontal" role="form" [formGroup]="paymentForm">
                <div class="form-group">

                    <label class="col-md-12 col-form-label">Amount to pay</label>
                    <div class="col-md-12">
                        <label class="form-control" *ngIf="for_pin">{{utility.returnCurrencySymbol(currentUser.currency)}}{{utility.numberWithCommas(this.paymentData.amount)}}</label>
                        <input type="number" class="form-control" *ngIf="!for_pin" formControlName="amount" placeholder="e.g. 50,100" [disabled]="dis_form">
                    </div>
                    <label class="col-md-12 col-form-label">Email address</label>
                    <div class="col-md-12">

                        <input type="email" class="form-control" formControlName="email" placeholder="e.g.test@ciplatform.com" [disabled]="dis_form">

                    </div>
                </div>
                <br>
                <div class="text-center" [hidden]="confirm_btn">
                    <button type="submit" (click)="onSubmit()" class="btn
                        btn-custom btn-rounded" [disabled]="paymentForm.invalid">Confirm Payment Details</button>
                </div>
            </form>
            <div [hidden]="allow_pay" class="text-center">
                <angular4-paystack [email]="email" [amount]="amount" [ref]="reference" [class]="'btn btn-primary'" (click)="onSubmit()" (close)="paymentCancel()" (callback)="paymentDone($event)">
                    Pay with Paystack
                </angular4-paystack>
            </div>
        </nb-card-body>
    </nb-card>
</div>