<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="wrapper-page">

                    <div class="m-t-40 card-box">

                        <div class="text-center">

                            <h2 class="text-uppercase m-t-0 m-b-30">

                                <a href="index.html" class="text-success">
                                    <span>
                                        <img
                                            src="assets/theme/images/chekkitlogoo.png"
                                            alt="" height="30">
                                    </span>
                                </a>

                            </h2>
                            <h5 class="font-bold m-b-0">Welcome Back</h5>
                            <label style="color: red;" *ngIf="err_msg">{{err_msg}}</label>
                        </div>

                        <br>

                        <div class="account-content">

                            <form class="form-horizontal" action="#" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div class="form-group m-b-20">
                                    <div class="col-xs-12">
                                        <input class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': submitted
                                            && f.username.errors }" type="text" required="" placeholder="Username">
                                    </div>
                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required">Username is required</div>
                                    </div>
                                </div>
                                <div class="form-group m-b-20">
                                    <div class="col-xs-12">
                                        <a href="" class="text-muted pull-right
                                            font-14">Forgot your password?</a>
                                        <input formControlName="password" class="form-control" [ngClass]="{'is-invalid': submitted
                                            && f.password.errors }" type="password" required="" placeholder="Password">
                                    </div>
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                                </div>
                                <div class="form-group m-b-30">

                                    <div class="col-12">

                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox5" type="checkbox">

                                            <label for="checkbox5">

                                                Remember me

                                            </label>

                                        </div>
                                    </div>

                                </div>

                                <div class="form-group account-btn text-center
                                    m-t-10">

                                    <div class="col-12">
                                        <button [disabled]="loading" class="btn
                                            btn-primary">
                                            <span *ngIf="loading"
                                                class="spinner-border
                                                spinner-border-sm mr-1"></span>
                                            Sign In
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- end card-box-->
                    <div class="row m-t-50">
                        <div class="col-sm-12 text-center" [routerLink]="['/pages/auth/signup']">
                            <p class="text-muted">Don't have an account? <a class="text-dark m-l-5">Sign Up</a></p>
                        </div>
                    </div>
                </div>
                <!-- end wrapper -->
            </div>
        </div>
    </div>
</section>