<div class="row">
    <div class="col-xxl-12">
        <ngx-ecommerce-charts></ngx-ecommerce-charts>
    </div>
</div>
<div class="row">
    <div class="col-xxl-12">
        <ngx-chartjs></ngx-chartjs>
    </div>
</div>
<div class="row">
    <div class="col-xxl-8">
        <nb-card>
            <nb-card-header>Products and Batches Bar</nb-card-header>
            <nb-card-body>
                <ngx-chartjs-bar-horizontal></ngx-chartjs-bar-horizontal>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-xxl-4">
        <ngx-progress-section></ngx-progress-section>
    </div>
</div>