<div class="row">
    <div class="col-sm-12">
        <a [routerLink]="['/pages/rewards']" style="font-size: 12px;color:#777;" class="m-b-20">
            << Go back </a>
    </div>
    <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20">All Rewards Created</h4>
    </div>
</div>
<div class="row">
    <nb-card class="col-lg-12">
        <nb-card-body>
            <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
                <ngx-datatable-column name="Reward Type">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                        <span title="Double click to edit">
                                            {{row.reward_type}}
                                        </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Reward Value">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                        <span title="Double click to edit">
                                            {{row.reward_value}}
                                        </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Quantity">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                        <span>
                                            {{row.reward_quantity}}
                                        </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Point">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                        <span>
                                            {{row.point_to_claim_reward}}
                                        </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Date Created">
                    <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.created_at | amCalendar:{sameElse:'Do MMMM, YYYY',lastWeek:'Do MMMM, YYYY'} }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                        <a (click)="ViewReward(row)" style="color: #23b195;margin-right: 20px;cursor: pointer;"><i class="fa fa-eye"></i> View</a>
                        <a (click)="ViewReward(row)" style="color: #23b195;margin-right: 20px;cursor: pointer;"><i class="fa fa-pencil"></i> Edit</a>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

        </nb-card-body>
    </nb-card>
</div>