@import "../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@include nb-install-component() {
    .solar-card nb-card-header {
        border: none;
        padding-bottom: 0;
    }
    @include media-breakpoint-down(sm) {
        ngx-traffic {
            display: none;
        }
    }
}

.row {
    .header-title {
        // font-size: 1.5rem;
        font-family: Open Sans, sans-serif;
        font-weight: 700;
        // line-height: 0rem;
        color: #23b194;
    }
    .pull-right {
        margin-top: -85px;
        width: 35%;
    }
    nb-alert {
        padding: 0.7rem 1.125rem;
        margin-bottom: 0.5rem;
        line-height: 1.2rem;
    }
}