<div class="row">
    <div class="col-sm-12">
        <h4 class="header-title s-t-0 m-b-10">Welcome {{currentUser.username}}, what will you like to do?</h4>
        <a class="pull-right" *ngIf=" userSub?.all_counts?.gen_pins_balance>1">
            <nb-alert outline="primary">You have pending payment(s) to make, please scroll down to check!</nb-alert>
        </a>
        <a class="pull-right" *ngIf="userSub?.all_counts?.account_balance<1 ||  userSub?.all_counts?.rewards_balance<0">
            <nb-alert outline="primary">You need to TOPUP your channels and reward balance, please scroll down to check!</nb-alert>
        </a>
    </div>
</div>
<div class="row">
    <div *ngIf="currentUser.access_level == 2" class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-4">
        <nb-card size="tiny" class="solar-card">
            <nb-card-body>
                <div class="widget-inline-box text-center">
                    <h3 class="m-t-10">
                        <i class="text-primary mdi mdi-access-point-network"></i>
                    </h3>
                    <a [routerLink]="['/pages/retargeting']" routerLinkActive="router-link-active">
                        <p class="text-bold quick-text">Engage Customers</p>
                        <button type="button" class="btn btn-default
                            btn-rounded">Enter</button>
                    </a>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div *ngIf="currentUser.access_level == 3" class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-4">
        <nb-card size="tiny" class="solar-card">
            <nb-card-body>
                <div class="widget-inline-box text-center">
                    <h3 class="m-t-10">
                        <i class="text-primary mdi mdi-access-point-network"></i>
                    </h3>
                    <a [routerLink]="['/pages/add-product']" routerLinkActive="router-link-active">
                        <p class="text-bold quick-text">Add New Product</p>
                        <button type="button" class="btn btn-default
                            btn-rounded">Enter</button>
                    </a>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div *ngIf="currentUser.access_level == 3" class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-4">
        <nb-card size="tiny" class="solar-card">
            <nb-card-body>
                <div class="widget-inline-box text-center">
                    <h3 class="m-t-10">
                        <i class="text-custom mdi mdi-qrcode"></i>
                    </h3>
                    <a [routerLink]="['/pages/generate-pin']" routerLinkActive="router-link-active">
                        <p class="text-bold quick-text">Generate QR Code</p>
                        <button type="button" class="btn btn-default
                            btn-rounded">Enter</button>
                    </a>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div *ngIf="currentUser.access_level == 1 || currentUser.access_level == 3" class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-4">
        <nb-card size="tiny" class="solar-card">
            <nb-card-body>
                <div class="widget-inline-box text-center b-0">
                    <h3 class="m-t-10">
                        <i class="text-danger mdi mdi-cellphone-link"></i>
                    </h3>
                    <a [routerLink]="['/pages/dashboard']" routerLinkActive="router-link-active">
                        <p class="text-bold quick-text">View Analytics</p>
                        <button type="button" class="btn btn-default
                            btn-rounded">Enter</button>
                    </a>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div *ngIf="currentUser.access_level == 1 || currentUser.access_level == 3" class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-4">
        <nb-card size="small" class="solar-card">
            <nb-card-body>
                <div class="text-center">
                    <img src="assets/theme/images/checklist.svg" class="dash-img">
                    <h3 class="text-bold">{{utility.returnCurrencySymbol(currentUser.currency)}}{{utility.numberWithCommas(userSub?.user_sub || 0)}} / {{utility.returnCurrencySymbol(currentUser.currency)}}{{utility.numberWithCommas(userSub?.all_counts?.account_balance || 0)}}
                    </h3> <br>
                    <p *ngIf="userSub">Total Activated Pin <br> <span style="font-size: 10px;">({{utility.returnCurrencySymbol(currentUser.currency)}}{{utility.numberWithCommas(userSub?.resources?.qr_cost || 0)}}/QR and {{utility.returnCurrencySymbol(currentUser.currency)}}{{utility.numberWithCommas(userSub?.resources?.ussd_cost || 0)}}/USSD)</span></p>
                    <a>
                        <button (click)="accountTopup()" type="button" class="btn btn-default btn-rounded"> Upload Payment</button>
                    </a>
                    <br><br>
                    <p data-container="body" title="" data-toggle="popover" data-placement="top" data-content="This is the amount
                        due for payment for labels generated" data-original-title="" aria-describedby="popover375249" style="font-size:10px; color: red;">
                        Click to know what this means
                    </p>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div *ngIf="currentUser.access_level == 1 || currentUser.access_level == 3" class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-4">
        <nb-card size="small" class="solar-card">
            <nb-card-body>
                <div class="text-center">
                    <img src="assets/theme/images/checklist.svg" class="dash-img">
                    <h3 class="text-bold">{{utility.returnCurrencySymbol(currentUser.currency)}}{{utility.numberWithCommas(userSub?.all_counts?.gen_pins_balance * userSub?.resources?.qr_cost || 0)}}</h3> <br>
                    <p>Chekkit ID Balance<br> <span style="font-size: 10px;">(Payment Due For Pins Generated)</span></p>
                    <a (click)="PinsPayment(userSub?.all_counts?.gen_pins_balance)">
                        <button [disabled]="userSub?.all_counts?.gen_pins_balance<1" type="button" class="btn btn-default
                            btn-rounded"> Make Payment</button>
                    </a>
                    <br><br>
                    <p data-container="body" title="" data-toggle="popover" data-placement="top" data-content="This is the amount
                        due for payment for labels generated" data-original-title="" aria-describedby="popover375249" style="font-size:10px; color: red;">
                        Click to know what this means
                    </p>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div *ngIf="currentUser.access_level == 1 || currentUser.access_level == 3" class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-4">
        <nb-card size="small" class="solar-card">
            <nb-card-body>
                <div class="text-center">
                    <img src="assets/theme/images/gift.svg" class="dash-img">
                    <h3 class="text-bold">{{utility.returnCurrencySymbol(currentUser.currency)}}{{utility.numberWithCommas(userSub?.all_counts.rewards_balance || 0)}}</h3> <br>
                    <p> Available Reward Balance</p>
                    <a (click)="AirtimeTopup()">
                        <button type="button" class="btn btn-default btn-rounded"> Update Airtime Balance</button>
                    </a>
                    <br><br>
                    <p data-container="body" title="" data-toggle="popover" data-placement="top" data-content="This is the amount
                        left from the reward you loaded and what's been
                        distributed to
                        your customers" data-original-title="" aria-describedby="popover375249" style="font-size:10px;
                        color: red;">
                        Click to know what this means
                    </p>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>