<div class="row">
    <div class="col-sm-12">
        <a [routerLink]="['/pages/product']" routerLinkActive="router-link-active" style="font-size:12px; color:
            #777;" class="m-b-20">
            << Go back </a> <br><br><br>
                <h4 class="header-title m-t-0 m-b-20">
                    Add New Product in 3 Steps:
                    <a href="#" class="pull-right">
                        <button type="button" class="btn btn-default" id="ajax-alert">
                    <i class="fa fa-user"></i> invite someone
                </button>
                    </a>
                    <a href="#" class="pull-right" style="margin-right: 20px;">
                        <button type="button" class="btn btn-dark"> + upload inventory
                    sheet</button>
                    </a>
                </h4>
    </div>
</div>
<div class="row">
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card-body>
            <nb-stepper orientation="horizontal">
                <nb-step [label]="labelOne">
                    <ng-template #labelOne>Product Info</ng-template>
                    <i *ngIf="success_msg">{{success_msg}}</i>
                    <form class="form-horizontal" [formGroup]="productForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="col-md-4 col-form-label">Upload
                                Product Image:</label>
                            <input nbInput fullWidth type="file" name="photo" (change)="onFileChange($event)" accept="image/*">
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-md-4 col-form-label">Product Name:</label>
                            <div class="col-md-12">
                                <input type="text" nbInput fullWidth formControlName="product_name" [ngClass]="{
                                    'is-invalid':submitted &&
                                    f.product_name?.errors}" required="true">
                            </div>
                        </div> <br>

                        <div class="form-group">
                            <label class="col-md-4 col-form-label">Producer Name:</label>
                            <div class="col-md-12">
                                <input type="text" nbInput fullWidth formControlName="producer_name" [ngClass]="{
                                    'is-invalid':submitted &&
                                    f.producer_name?.errors}" required="true">
                            </div>
                        </div> <br>

                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">Product
                                Description:</label>
                            <div class="col-md-12">
                                <textarea nbInput fullWidth rows="5" formControlName="product_description" [ngClass]="{'is-invalid': submitted &&
                                    f.product_description?.errors}" placeholder="Product Description"></textarea>
                            </div>
                        </div> <br>
                        <div class="form-group radio">
                            <label class="col-md-6
                                col-form-label">What Age Group
                                is the Product For?</label>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="radio col-md-4">
                                        <input id="checkbox0" type="radio" formControlName="age_range" value="0-2">
                                        <label for="checkbox0">
                                            0-2 years
                                        </label>
                                    </div>

                                    <div class="radio col-md-4">
                                        <input id="checkbox1" type="radio" formControlName="age_range" value="2-12">
                                        <label for="checkbox0">
                                            2-12 years
                                        </label>
                                    </div>

                                    <div class="radio col-md-4">
                                        <input id="checkbox2" type="radio" formControlName="age_range" value="13-19">
                                        <label for="checkbox0">
                                            13-19 years
                                        </label>
                                    </div>

                                    <div class="radio col-md-4">
                                        <input id="checkbox3" type="radio" formControlName="age_range" value="20-29">
                                        <label for="checkbox0">
                                            20-29 years
                                        </label>
                                    </div>

                                    <div class="radio col-md-4">
                                        <input id="checkbox4" type="radio" formControlName="age_range" value="30-40">
                                        <label for="checkbox0">
                                            30-40 years
                                        </label>
                                    </div>
                                    <div class="radio col-md-4">
                                        <input id="checkbox5" type="radio" formControlName="age_range" value="40 and
                                            above">
                                        <label for="checkbox0">
                                            40 and above
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div> <br>
                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">Production Date:</label>
                            <div class="col-md-12">
                                <input type="date" nbInput fullWidth formControlName="production_date" [ngClass]="{'is-invalid':
                                    submitted &&
                                    f.expiry_date?.errors}" required="true" placeholder="Product Expiry
                                    Date">
                            </div>
                        </div> <br>
                        <div class="form-group">
                            <label class="col-md-4
                                col-form-label">Expiry Date:</label>
                            <div class="col-md-12">
                                <input type="date" formControlName="expiry_date" [ngClass]="{'is-invalid':
                                    submitted &&
                                    f.production_date?.errors
                                    }" required="true" placeholder="Product
                                    Production Date" nbInput fullWidth>
                            </div>
                        </div> <br>

                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">FDA Number:</label>
                            <div class="col-md-12">
                                <input type="text" nbInput fullWidth formControlName="fda_num" [ngClass]="{'is-invalid':submitted &&
                                    f.fda_num?.errors}" required="true" placeholder="FDA Number">
                            </div>
                        </div> <br>
                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">Batch Number:</label>
                            <div class="col-md-12">
                                <input type="text" nbInput fullWidth formControlName="batch_num" [ngClass]="{'is-invalid':submitted &&
                                    f.batch_num?.errors}" required="true" placeholder="Product Batch Number">
                            </div>
                        </div> <br>
                        <div class="form-group">
                            <label class="col-md-4 col-form-label">Barcode
                                Number:</label>
                            <div class="col-md-12">
                                <input type="text" nbInput fullWidth formControlName="barcode_num" [ngClass]="{'is-invalid':submitted &&
                                    f.barcode_num?.errors}" required="true" placeholder="Product Barcode Number">
                            </div>

                        </div> <br>
                        <div class="form-group radio">
                            <label class="col-md-6 col-form-label">Product
                                Category:</label>
                            <div class="col-md-12"></div>
                            <div class="row">
                                <br>
                                <div class="radio col-md-4">
                                    <input type="radio" formControlName="product_category" value="Organic">
                                    <label for="checkbox0">Organic</label>
                                </div>
                                <div class="radio col-md-4">
                                    <input type="radio" formControlName="product_category" value="Synthesized">
                                    <label for="checkbox0">Synthesized</label>
                                </div>
                                <div class="radio col-md-4">
                                    <input type="radio" formControlName="product_category" value="Hybrid">
                                    <label for="checkbox0">Hybrid</label>
                                </div>
                            </div>
                        </div> <br>
                        <div class="form-group radio">
                            <label class="col-md-6 col-form-label">ID Range:</label>
                            <div class="col-md-12">
                                <div class="row">
                                    <br>
                                    <div class="radio col-md-4">
                                        <input type="radio" formControlName="id_range" value="10000">
                                        <label for="checkbox0">10,000 units</label>
                                    </div>
                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="id_range" value="50000">
                                        <label for="checkbox0">50,000 units</label>
                                    </div>
                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="id_range" value="500000">
                                        <label for="checkbox0">500,000 units</label>
                                    </div>
                                </div>
                            </div>
                        </div> <br>
                        <br><br>
                        <button nbButton disabled nbStepperNext>prev</button>
                        <!-- <button nbStepperNext class="btn btn-custom btn-rounded" type="submit" [disabled]="loading || productForm.invalid">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Save and Update</button> -->
                        <button type="submit" nbButton nbStepperNext [disabled]="loading || productForm.invalid" (click)="onSubmit()">
                            Save and Update
                            <span *ngIf="loading" class="spinner-border
                                spinner-border-sm mr-1"></span>
                        </button>
                    </form>

                </nb-step>
                <nb-step [label]="labelTwo">
                    <ng-template #labelTwo>Attach/Create New Survey
                    </ng-template>
                    <form class="form-horizontal" [formGroup]="surveyForm" (ngSubmit)="updateSurveyProduct()">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <img src="assets/theme/images/completed-task.svg" style="width: 10%;margin-bottom: 50px;">
                            </div>
                        </div>
                        <p *ngIf="save_survey?.length>0">Please select the survey you want to attach to this Product.
                        </p>
                        <p *ngIf="save_survey?.length<1" style="color: red;">You don't any survey to attach to this Product,Please create a survey to add new product.
                        </p>
                        <select class="custom-select mt-3" formControlName="surveyId" *ngIf="save_survey?.length>0">
                            <option selected="">Select</option>
                            <option *ngFor="let survey of save_survey"
                                value="{{survey.id}}">{{survey.title}}</option>
                        </select>
                        <br><br>
                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton nbStepperNext (click)="updateSurveyProduct()" type="submit" [disabled]="loading || surveyForm.invalid">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Save & Proceed</button>

                            <button nbButton class="btn-success btn-rounded" (click)="getAllSurveys()" type="button" [disabled]="loading">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Reload</button>
                        <br><br><br><br>
                        <div class="alert alert-icon alert-warning alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                            <i class="mdi mdi-alert"></i>
                            <strong>Created Any Survey Yet?</strong>
                        </div>
                        <p>Setup the Survey you want to add to this product by cicking on the button below.
                            <br> <br> Once you are done you can attach the survey to the product and you are good to go.
                        </p>
                        <a [routerLink]="['/pages/create-survey']" target="_blank" routerLinkActive="router-link-active">
                            <button type="button" class="btn btn-default
                                btn-rounded">Setup Survey</button>
                        </a>
                        <br>
                    </form>
                </nb-step>
                <nb-step label="Attach/Create Reward">
                    <ng-template #labelThree>Attach/Create New Survey
                    </ng-template>
                    <form class="form-horizontal" [formGroup]="rewardForm" (ngSubmit)="updateRewardProduct()">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <img src="assets/theme/images/gift.svg" style="width: 10%;
                                    margin-bottom: 50px;">
                            </div>
                        </div>
                        <p>Please select the reward type to attach to this Product.
                        </p>

                        <select class="custom-select mt-3" (change)="onChange($event)">
                            <option selected="loyalty">Loyalty Point</option>
                            <option selected="others">Airtime/Merchandize</option>
                        </select>
                        <br><br>
                        <div [hidden]="loyalty">
                            <p *ngIf="loyalt_points?.length>0">Please select the loyalty point you want to attach to this Product.
                            </p>
                            <p *ngIf="loyalt_points?.length<1" style="color: red;">You don't have any loyalty point to attach to this Product,Please create a reward to add new product.
                            </p>
                            <select class="custom-select mt-3" formControlName="rewardId" *ngIf="loyalt_points?.length>0">
                                <option selected="">Select</option>
                                <option *ngFor="let reward of loyalt_points"
                                    value="{{reward.id}}">{{reward.loyalty_name}}
                                    ({{reward?.loyalty_reward}} -
                                    {{reward?.loyalty_reward_value}})</option>
                            </select>
                            <br><br>
                        </div>
                        <div [hidden]="others">
                            <p *ngIf="save_surveyReward?.length>0">Please select the reward(Airtime/Merchandize/Raffle) you want to attach to this Product.
                            </p>
                            <p *ngIf="save_surveyReward?.length<1" style="color: red;">You don't have any reward(Airtime/Merchandize) to attach to this Product,Please create a reward to add new product.
                            </p>
                            <select class="custom-select mt-3" formControlName="rewardId" *ngIf="save_surveyReward?.length>0">
                                <option selected="">Select</option>
                                <option *ngFor="let reward of save_surveyReward"
                                    value="{{reward?.id}}">{{reward?.reward_type}}
                                    {{reward?.reward_value}}</option>
                            </select>
                            <br><br>
                        </div>
                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton nbStepperNext (click)="updateRewardProduct()" type="submit" [disabled]="loading || rewardForm.invalid">
                            <span *ngIf="loading" class="spinner-border
                                spinner-border-sm mr-1"></span>Save & Proceed</button>
                        <br><br><br><br>
                        <div class="alert alert-icon alert-warning
                            alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                            <i class="mdi mdi-alert"></i>
                            <strong>Created Any Reward Yet?</strong>
                        </div>
                        <p>Setup the rewards you want to add to this product by cicking on the button below.
                            <br> <br> Once you are done you can attach the reward to the product and you are good to go.
                        </p>
                        <a [routerLink]="['/pages/rewards']" target="_blank" routerLinkActive="router-link-active">
                            <button type="button" class="btn btn-default
                                btn-rounded">Setup reward</button>
                        </a>
                        <br>
                    </form>

                </nb-step>
            </nb-stepper>
        </nb-card-body>
    </nb-card>
</div>