:host ::ng-deep nb-stepper .step-content {
    // text-align: center;
    button {
        cursor: pointer;
        margin: 0.5rem;
    }
}

nb-card-body {
    overflow: visible;
    // padding-top: 0;
    >* {
        margin-top: 1rem;
    }
}

.full-name-inputs,
.validation-checkboxes {
    display: flex;
    margin: 0 -0.5rem;
    >* {
        margin: 0 0.5rem;
    }
}

.checkbox-radio {
    display: flex;
}

.demo-items {
    flex: 1 0 33%;
}

.nb-theme-default [nbInput]{
    background-color: #ffffff !important;
}