<div class="row">

    <div class="col-sm-12">

        <a [routerLink]="['/pages/survey']" routerLinkActive="router-link-active" style="font-size:
            12px; color: #777;" class="m-b-20">

            << Go back </a> <br><br><br>

                <h4 class="header-title m-t-0 m-b-20">
                    Create New Survey
                </h4>
    </div>

</div>
<div class="row">
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card-body>
            <form class="form-horizontal" role="form" [formGroup]="surveyForm" (ngSubmit)="onSubmit()">

                <div class="form-group">

                    <label class="col-md-4 col-form-label">Survey
                        Name:</label>
                    <div class="col-md-12">
                        <input nbInput fullWidth type="text" formControlName="title" required="true" placeholder="Survey Name">
                    </div>
                </div> <br>
                <div class="form-group">
                    <label class="col-md-12 col-form-label">
                        Does this survey have a Label ?
                    </label>
                    <div class="col-md-12">
                        <select class="custom-select mt-3" formControlName="hasSurvey">
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="col-md-4 col-form-label">Survey
                        Content / Intent:</label>
                    <div class="col-md-12">
                        <textarea nbInput fullWidth formControlName="content" rows="5" [ngClass]="{ 'is-invalid': submitted &&
                            f.content?.errors }" placeholder="Survey content/ Intent"></textarea>
                    </div>
                </div> <br>
                <div class="form-group">
                    <label class="col-md-12 col-form-label">Question {{qust_num}}:</label>
                    <div class="col-md-12">
                        <input type="text" nbInput fullWidth formControlName="question" placeholder="enter the question you want users to answer here...">
                    </div> <br>

                    <label class="col-md-12 col-form-label">Options For Users To Select:</label>

                    <div class="col-md-12">
                        <input *ngFor="let option of options; let a=index;" formControlName="choice{{a+1}}" nbInput fullWidth type="text" required style="margin-bottom: 5px;" placeholder="Choice {{a+1}} {{a>1 ? '(Optional)':''}}"> <br>
                        <p *ngIf="options.length <3" style="text-decoration: underline; color: #59983f;float: right;" (click)="increaseOptions()">
                            <i class="fa fa-plus"></i> add more options
                        </p>
                        <p style="text-decoration: underline; color: red;float: right;" (click)="decreaseOptions()">
                            <i class="fa fa-close"></i> remove last option
                        </p>
                    </div>

                </div> <br>
                <p style="padding-bottom: 30px; text-decoration: underline; color: #e2ab3b;" (click)="addMoreQuestsion()">
                    <i class="fa fa-plus"></i> add more questions
                </p>
                <button type="submit" class="btn btn-custom btn-rounded" [disabled]="loading ||  surveyForm.invalid"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Create Survey </button>
            </form>
        </nb-card-body>
    </nb-card>
</div>