<div class="row">
    <div class="col-xxl-6">
        <label class="col-form-label">Product:</label>
        <select class="custom-select mt-3" [(ngModel)]="filterOptions.productId" (ngModelChange)="getProductScansByDate()">
            <option [value]="p.id" *ngFor="let p of products; let i = index">{{ p.product_name }}</option>
        </select>
    </div>
    <div class="col-xxl-3">
        <label class="col-form-label">Start Date:</label>
        <input class="customs-select mt-3" (ngModelChange)="getProductScansByDate()" type="date" [(ngModel)]="filterOptions.startDate" nbInput fullWidth  required="true" placeholder="Product Expiry Date">
    </div>
    <div class="col-xxl-3">
        <label class="col-form-label">End Date:</label>
        <input class="customs-select mt-3" (ngModelChange)="getProductScansByDate()" type="date" [(ngModel)]="filterOptions.endDate" nbInput fullWidth  required="true" placeholder="Product Expiry Date">
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="card" *ngIf="scanStatistics">
            <div class="card-body">
                <h6 class="card-subtitle">Product scans per date</h6>
                <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                    [legend]="lineChartLegend" [chartType]="lineChartType">
                </canvas>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row" [hidden]="!scanStatistics">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">Product scans heat map</h6>
                <!-- <div #map style="width:100%;height:400px"></div> -->
                <div id="map" #map ></div>

            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-xxl-12">
        <ngx-chartjs></ngx-chartjs>
    </div>
</div>
<div class="row">
    <div class="col-xxl-8">
        <nb-card>
            <nb-card-header>Products and Batches Bar</nb-card-header>
            <nb-card-body>
                <ngx-chartjs-bar-horizontal></ngx-chartjs-bar-horizontal>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-xxl-4">
        <ngx-progress-section></ngx-progress-section>
    </div>
</div> -->