.col-form-label span {
    font-size: 11px;
    font-style: italic;
}

.modal-header{
    border-bottom: none !important;
}

.modal-title{
    color: #01D4C1;
    font-size: 1.3em;
}

.btn-q{
    background-color:  #01D4C1 !important;
    border: none !important;
}
.input-1{
    background-color: #ffffff;
}

.col-form-label{
    color: black;
    font-weight: 300 !important;
}